<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.exam.mapper.QuestionMapper">
    <resultMap id="detailQuestionMap" type="com.atguigu.exam.entity.Question">
        <id column="id" property="id"/>
        <association property="answer" javaType="com.atguigu.exam.entity.QuestionAnswer">
            <id column="qsa_id" property="id"/>
            <result column="question_id" property="questionId"/>
            <result column="qsa_create_time" property="createTime"/>
            <result column="qsa_update_time" property="updateTime"/>
        </association>
        <collection property="choices" ofType="com.atguigu.exam.entity.QuestionChoice" notNullColumn="qcs_id">
            <id column="qcs_id" property="id"/>
            <result column="qcs_create_time" property="createTime"/>
            <result column="qcs_update_time" property="updateTime"/>
        </collection>
    </resultMap>
    <select id="customGetById" resultMap="detailQuestionMap">
        SELECT qs.*,
        qsa.id qsa_id,
        qsa.question_id,
        qsa.answer,
        qsa.keywords,
        qsa.create_time qsa_create_time,
        qsa.update_time qsa_update_time,
        qcs.id qcs_id,
        qcs.question_id qcs_question_id,
        qcs.content,
        qcs.is_correct,
        qcs.sort,
        qcs.create_time qcs_create_time,
        qcs.update_time qcs_update_time
        from questions qs
        left join question_answer qsa
        on qs.id = qsa.question_id and qsa.is_deleted = 0
        left join question_choices qcs
        on qcs.question_id=qs.id and qcs.is_deleted=0 where
        qs.is_deleted=0 AND  qs.id=#{id}
        order by sort DESC
    </select>
</mapper>